.pt-list-item {
    font-weight: 600;
    font-size: 1.1em;
    list-style: disc;
    margin-left: 2em;
}

.pt-list-item2 {
    font-size: 1em;
    list-style: disc;
    margin-left: 2em;
}
